{:product-data {1 {:id 1,
                   :name "Brownie",
                   :imageURL
                   "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHdr1eTXEMs68Dx-b_mZT0RpifEQ8so6A1unRsJlyJIPe0LUE2HQ",
                   :price 2,
                   :bulkPricing {:amount 4, :totalPrice 7}}


                  2 {:id 2,
                     :name "Key Lime Cheesecake",
                     :imageURL
                     "http://1.bp.blogspot.com/-7we9Z0C_fpI/T90JXcg3YsI/AAAAAAAABn4/EN7u2vMuRug/s1600/key+lime+cheesecake+slice+in+front.jpg",
                     :price 8,
                     :bulkPricing nil}

                3 {:id 3,
                   :name "Cookie",
                   :imageURL
                   "http://www.mayheminthekitchen.com/wp-content/uploads/2015/05/chocolate-cookie-square.jpg",
                   :price 1.25,
                   :bulkPricing {:amount 6, :totalPrice 6}}

                4 {:id 4,
                   :name "Mini Gingerbread Donut",
                   :imageURL
                   "https://s3.amazonaws.com/pinchofyum/gingerbread-donuts-22.jpg",
                   :price 0.5,
                   :bulkPricing nil}}

 :offers {2 [{:start-date "2020-10-01"
              :end-date "2100-10-01"
              :offer-description "25% off Key Lime Cheesecakes"
              :recurring true
              :frequency "year"
              :day-in-week nil     ;; Day on which event should occur
              :date-in-month 1     ;; Day of month in which event should occur
              :month-in-year 11    ;; Month of year in which event should occur
              :percentage 25
              :amount nil
              :qty 1}]
          3 [{:start-date "2020-01-01"
              :end-date "2020-01-01"
              :offer-description "8 Cookies for $6.00"
              :recurring true
              :frequency "week"
              :day-in-week "Friday" ;; Day on which event should occur
              :date-in-month nil    ;; Day of month in which event should occur
              :month-in-year nil    ;; Month of year in which event should occur
              :percentage nil
              :amount 6
              :qty 8}]
          4 [{:start-date "2020-01-01"
              :end-date "2100-01-01"
              :offer-description "Mini Gingerbread Donuts, Two for one"
              :recurring true
              :frequency "week"
              :day-in-week "Tuesday"  ;; Day on which event should occur
              :date-in-month nil      ;; Day of month in which event should occur
              :month-in-year nil      ;; Month of year in which event should occur
              :percentage 50
              :amount nil
              :qty 2}]}
 :name-to-id  {"Brownie" 1
               "Cheesecake" 2
               "Cookie" 3
               "Mini Gingerbread Donut" 4}}

